.box{
    height: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.innerbox{
    height: 100%;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: purple;
}