.container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.childBlue{
    width: 100px;
    height: 150px;
    background-color: blue;
}

.childGreen{
    width: 100px;
    height: 100px;
    background-color: green;
}