.table{
  width: 900px;
  border-top: 1px solid black;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 50px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.name{
  width: 30%;
}

.age{
  quotes: 10%;
}

.salary{
  width: 15%;
}

.email{
  width: 30%;
}

.gender{
  width: 20%;
}

.name, .age, .salary, .email, .gender{
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  border-right: 1px solid black;
}

.add-button{
  position: absolute;
  right: 3%;
  top: 1%;
  width: 100px;
  height: 50px;
}

.modal-wraper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  backdrop-filter: blur(5px);
  background-color: rgb(212, 204, 195, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 800px;
  height: 500px;
  background-color: rgb(195, 186, 175);
  padding: 15px;
}

.combo-container{
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}